In [1]:
import pandas as pd #for data analysis
import numpy as np #for numerical functions
import plotly.express as px #for innteractive plots

- load the data
- look at the data
- if required, clean the data
- if required, transform the data
- if required, reducce the data
- if required, create new features (new columns)
- visualize the data
- compute staatistics

In [2]:
df = pd.read_excel('Book1.xlsx')
df

   id first name last name  basic salary  d.a  h.r.a  t.a department  fine
0   1        ram    sharma         30000  0.5    0.8  0.1      sales   600
1   2      vijay    pandey         25000  0.3    0.8  0.1   purchase   299
2   3      imran       ali         45000  0.4    0.8  0.1        rnd   588
3   4       ajay    pandey         25000  0.4    0.8  0.1      sales  1020
4   5      vijay    sharma         19500  0.5    0.6  0.1   purchase   399
5   6      rohan    kapoor         50000  0.3    0.8  0.1        rnd     0
6   7     vidhya     singh         52000  0.4    0.8  0.1      sales     0
7   8      suraj     singh         95000  0.4    1.0  0.5   purchase   299
8   9      arjun    kapoor         10000  0.3    0.6  0.1        rnd   299
9  10    arun kr    pandey         30000  0.4    0.8  0.1   purchase   299

In [3]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [4]:
df['basic salary'] #series

0    30000
1    25000
2    45000
3    25000
4    19500
5    50000
6    52000
7    95000
8    10000
9    30000
Name: basic salary, dtype: int64

In [5]:
df[['first name', 'last name']] #list of columns - dataframes

  first name last name
0        ram    sharma
1      vijay    pandey
2      imran       ali
3       ajay    pandey
4      vijay    sharma
5      rohan    kapoor
6     vidhya     singh
7      suraj     singh
8      arjun    kapoor
9    arun kr    pandey

In [6]:
df.iloc[3] #iloc - index location - row wise access

id                   4
first name        ajay
last name       pandey
basic salary     25000
d.a                0.4
h.r.a              0.8
t.a                0.1
department       sales
fine              1020
Name: 3, dtype: object

In [7]:
df.iloc[3].tolist() #convert to list

[4, 'ajay', 'pandey', 25000, 0.4, 0.8, 0.1, 'sales', 1020]

In [8]:
df.iloc[-5:, :3] #last 5 rows, first three comlumns

   id first name last name
5   6      rohan    kapoor
6   7     vidhya     singh
7   8      suraj     singh
8   9      arjun    kapoor
9  10    arun kr    pandey

In [9]:
df

   id first name last name  basic salary  d.a  h.r.a  t.a department  fine
0   1        ram    sharma         30000  0.5    0.8  0.1      sales   600
1   2      vijay    pandey         25000  0.3    0.8  0.1   purchase   299
2   3      imran       ali         45000  0.4    0.8  0.1        rnd   588
3   4       ajay    pandey         25000  0.4    0.8  0.1      sales  1020
4   5      vijay    sharma         19500  0.5    0.6  0.1   purchase   399
5   6      rohan    kapoor         50000  0.3    0.8  0.1        rnd     0
6   7     vidhya     singh         52000  0.4    0.8  0.1      sales     0
7   8      suraj     singh         95000  0.4    1.0  0.5   purchase   299
8   9      arjun    kapoor         10000  0.3    0.6  0.1        rnd   299
9  10    arun kr    pandey         30000  0.4    0.8  0.1   purchase   299

In [10]:
df.head() #first 5 rows

   id first name last name  basic salary  d.a  h.r.a  t.a department  fine
0   1        ram    sharma         30000  0.5    0.8  0.1      sales   600
1   2      vijay    pandey         25000  0.3    0.8  0.1   purchase   299
2   3      imran       ali         45000  0.4    0.8  0.1        rnd   588
3   4       ajay    pandey         25000  0.4    0.8  0.1      sales  1020
4   5      vijay    sharma         19500  0.5    0.6  0.1   purchase   399

In [11]:
df.tail() #bottomm 5 rows

   id first name last name  basic salary  d.a  h.r.a  t.a department  fine
5   6      rohan    kapoor         50000  0.3    0.8  0.1        rnd     0
6   7     vidhya     singh         52000  0.4    0.8  0.1      sales     0
7   8      suraj     singh         95000  0.4    1.0  0.5   purchase   299
8   9      arjun    kapoor         10000  0.3    0.6  0.1        rnd   299
9  10    arun kr    pandey         30000  0.4    0.8  0.1   purchase   299

In [12]:
#missing data
df.isnull().sum() #count of missing values

id              0
first name      0
last name       0
basic salary    0
d.a             0
h.r.a           0
t.a             0
department      0
fine            0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            10 non-null     int64
 1   first name    10 non-null     object
 2   last name     10 non-null     object
 3   basic salary  10 non-null     int64
 4   d.a           10 non-null     float64
 5   h.r.a         10 non-null     float64
 6   t.a           10 non-null     float64
 7   department    10 non-null     object
 8   fine          10 non-null     int64
dtypes: float64(3), int64(3), object(3)
memory usage: 848.0+ bytes

In [14]:
df.describe() #summary statistics for numerical columns

             id  basic salary        d.a      h.r.a        t.a         fine
count  10.00000     10.000000  10.000000  10.000000  10.000000    10.000000
mean    5.50000  38150.000000   0.390000   0.780000   0.140000   380.300000
std     3.02765  24106.303924   0.073786   0.113529   0.126491   301.232302
min     1.00000  10000.000000   0.300000   0.600000   0.100000     0.000000
25%     3.25000  25000.000000   0.325000   0.800000   0.100000   299.000000
50%     5.50000  30000.000000   0.400000   0.800000   0.100000   299.000000
75%     7.75000  48750.000000   0.400000   0.800000   0.100000   540.750000
max    10.00000  95000.000000   0.500000   1.000000   0.500000  1020.000000

In [15]:
df.head(4)

   id first name last name  basic salary  d.a  h.r.a  t.a department  fine
0   1        ram    sharma         30000  0.5    0.8  0.1      sales   600
1   2      vijay    pandey         25000  0.3    0.8  0.1   purchase   299
2   3      imran       ali         45000  0.4    0.8  0.1        rnd   588
3   4       ajay    pandey         25000  0.4    0.8  0.1      sales  1020

In [16]:
df['d.a']

0    0.5
1    0.3
2    0.4
3    0.4
4    0.5
5    0.3
6    0.4
7    0.4
8    0.3
9    0.4
Name: d.a, dtype: float64

In [17]:

df['d.a']* df['basic salary']\
    + df['h.r.a'] * df['basic salary']\
    + df['t.a']* df['basic salary']\
    + df['basic salary'] - df['fine']

0     71400.0
1     54701.0
2    102912.0
3     56480.0
4     42501.0
5    110000.0
6    119600.0
7    275201.0
8     19701.0
9     68701.0
dtype: float64

In [18]:
df['total salary'] = df['d.a']* df['basic salary']\
    + df['h.r.a'] * df['basic salary']\
    + df['t.a']* df['basic salary']\
    + df['basic salary'] - df['fine']

In [19]:
df

,id,first name,last name,basic salary,d.a,h.r.a,t.a,department,fine,total salary
0,1,ram,sharma,30000,0.5,0.8,0.1,sales,600,71400.0
1,2,vijay,pandey,25000,0.3,0.8,0.1,purchase,299,54701.0
2,3,imran,ali,45000,0.4,0.8,0.1,rnd,588,102912.0
3,4,ajay,pandey,25000,0.4,0.8,0.1,sales,1020,56480.0
4,5,vijay,sharma,19500,0.5,0.6,0.1,purchase,399,42501.0
5,6,rohan,kapoor,50000,0.3,0.8,0.1,rnd,0,110000.0
6,7,vidhya,singh,52000,0.4,0.8,0.1,sales,0,119600.0
7,8,suraj,singh,95000,0.4,1.0,0.5,purchase,299,275201.0
8,9,arjun,kapoor,10000,0.3,0.6,0.1,rnd,299,19701.0
9,10,arun kr,pandey,30000,0.4,0.8,0.1,purchase,299,68701.0

In [20]:
px.area(df, x='first name', y='total salary')