In [13]:
a = 'this is string' #single quotes
b = "this is another string" #double quotes
c = '''this is a 
string''' #triple quotes
d= b'this is a byte string' #byte string
e= u'this is a \nunicode string' #unnicode string
f= r'this is a \nraw string' #raw string

In [14]:
print (e)
print(f)
print(b)

this is a
unicode string
this is a \nraw string
this is another string

In [10]:
path = r'C:\Users\window-10\Documents\farooque_anugrah_ds\loops.ipynb'
print (path)

C:\Users\window-10\Documents\farooque_anugrah_ds\loops.ipynb

In [11]:
x =10
x = str(x) #converted to string
print (x)

10

In [1]:
str = 'digipodium'
print('str1', str)

str1 digipodium

In [2]:
print ('str1', str[1])

str1 i

In [3]:
print('str[-1]', str[-1])

str[-1] m

In [13]:
p= 28973
p= str(p)
print(p)

TypeError: 'str' object is not callable

In [14]:
s = 'digipodium'
slice1=s[4:7]
print(slice1)

pod

In [27]:
name= 'Vijay Deenanath Chauhan'
slice2=name[-7:]
print(slice2)

Chauhan

In [28]:
len(name) #length of string

23

In [31]:
name[-7:len(name)] #last 7 characters

'Chauhan'

In [39]:
slice3=name[6:15]
print(slice3)

Deenanath

In [40]:
name[::2]

'VjyDeaahCahn'

In [41]:
name[::-1]

'nahuahC htananeeD yajiV'

In [42]:
name.

- String methods

    - Validation methods
        - isalpha
        - isnumeric
        - isalnum
        - isspace
        - isupper
        - islower
        - istitle
        - startswith
        - endswith
    - Formatting methods
        - upper
        - lower
        - title
        - swapcase
        - capitalize
        - casefold
    - Utility methods
        - count
        - find
        - replace
        - split
        - join
        - strip

In [47]:
x = input('Enter a number: ')
if x.isnumeric():
    x=int(x)
    print(x)
else:
    print('Invalid input')

Invalid input

In [49]:
unamme = input('Enter your name')
if unamme.isalpha():
    print('hello',unamme)
else:
    print('invalid input')

hello anugrah

In [52]:
unammme = input('Enter your name')
if unammme.isalnum():
    print('hello',unammme)
else:
    print('invalid input')

hello sjs

In [56]:
unammme = input('Enter your name')
if not unammme.isalnum():
    print('hello',unammme)
else:
    print('invalid input')

hello

In [58]:
names = ['Mr. Anand','Mr. Vijay','Mrs. Ravi','Er. Rajesh']
for name in names:
    if name.startswith('Mr.')or name.startswith('Mrs.'):
        print(f'Welcome{name}')
    else:
        print(f'Notinvited{name}')

WelcomeMr. Anand
WelcomeMr. Vijay
WelcomeMrs. Ravi
NotinvitedEr. Rajesh

In [59]:
files = ['abc.txt', 'xyz.doc', 'pqr.py', 'mno.py', 'def.txt']
for item in files:
    if item.endswith('.txt'):
        print(f'{item:10} text file')
    elif item.endswith('.py'):
        print(f'{item:10} python file')
    else:
        print(f'{item:10} unknown file type')

abc.txt    text file
xyz.doc    unknown file type
pqr.py     python file
mno.py     python file
def.txt    text file

In [60]:
name= 'Journey Before Destination'
print(name.upper())
print(name.lower())
print(name.title())
print(name.capitalize())
print(name.swapcase())
print(name.casefold())


name = name.capitalize()
print(name)

JOURNEY BEFORE DESTINATION
journey before destination
Journey Before Destination
Journey before destination
jOURNEY bEFORE dESTINATION
journey before destination
Journey before destination

In [5]:
s = 'this is an example string,this is a simple string'
print(s.count('is'))
print(s.count('this'))

4
2

In [7]:
#total vowels
tv= s.count('a') + s.count('e') + s.count('i') + s.count('o') + s.count('u')
print(tv)

13

In [12]:

s.find(' ')

4

In [17]:
s.find('is', 3)
s.find('is', 6)

28

In [18]:
s.replace('is', 'was')

'thwas was an example string,thwas was a simple string'

In [19]:

s.replace('is','was')

'thwas was an example string,thwas was a simple string'

In [20]:
s.replace('string','')

'this is an example ,this is a simple '

In [23]:
s.split()

['this', 'is', 'an', 'example', 'string,this', 'is', 'a', 'simple', 'string']

In [24]:
s.split(',')

['this is an example string', 'this is a simple string']

In [25]:
s.split('s')

['thi', ' i', ' an example ', 'tring,thi', ' i', ' a ', 'imple ', 'tring']

In [27]:
words = ['one','two','three','four','five']

", ".join(words)

'one, two, three, four, five'

In [28]:
x ='    ziad  '
print(x)
print(x.strip())

    ziad
ziad

In [29]:
x ='    ziad \n\n   '
print(x)
print(x.strip())

    ziad


ziad