- ###TUPLE
    - python default sequential daTA STRucture
    - indexed, ordered, heterogenous
    - ` immutable `
    - represented by ` () `
    - ` tuple ` is faster than ` list `
    - ` tuple() ` convert any sequence to tuple

- SET
    - unordered, unidexed, mutable
    - unique elements only
    - can store only immutable elements
    - represented by {}
    - set() convert any sequence to set

- Tuple

In [1]:
x = (1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [11]:
a = 12, 13, 50

In [9]:
#single element tuple
b = (13, )
print(b)
print(type(b))

()
<class 'tuple'>

In [14]:
#tuple unpacking
x1, x2, x3 = a # a has 3 elements
print (x1,x2,x3)

12 13 50

In [15]:
a = (1,3,5,7,9,11,13,15,17)
a1, a2, *a3 = a #a3 will get the remaining elements as a list
print (a1, a2, a3)

1 3 [5, 7, 9, 11, 13, 15, 17]

In [18]:
a[-5:]

(9, 11, 13, 15, 17)

In [19]:
for i in a:
    print(i)

1
3
5
7
9
11
13
15
17

In [20]:
x = (1,2,3,1,2,3,1,2,3,1,2,3,1,2,3)
print(x.count(1))
print(x.count(2))
print(x.count(5))
print(x.index(3))
print(x.index(3,5)) #3 is the value to search and 5 is the starting index

5
5
0
2
5

In [21]:
a = [1,2,3]
at= tuple(a) #tuple to tuple
al= list(at) #tuple to list
print(at)
print(al)

(1, 2, 3)
[1, 2, 3]

set

In [22]:
s = {1,2,3,1,2,3,1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [23]:
s1= set() #empty set
print(s1)
print(type(s1))

set()
<class 'set'>

In [25]:
s1.add(3)
s1.add(4)
s1.add('hello')
s1.add('all')
s1.add(3)
print(s1)

{'hello', 3, 4, 'all'}

In [26]:
s1.discard(3) #remove 3 from set s1 (remmove() can also be used)

In [27]:
for i in s1:
    print(i)

hello
4
all

In [28]:
#set operations
group1 = {'apple', 'banana', 'orange', 'grapes', 'mango', 'pineapple', 'watermelon'}
group2 = {'apple', 'grapes', 'mango', 'pineapple', 'watermelon', 'kiwi', 'papaya', 'cherry'}

In [32]:
#union
print(group1 | group2)
print(group1.union(group2))

{'kiwi', 'watermelon', 'pineapple', 'orange', 'grapes', 'cherry', 'papaya', 'banana', 'mango', 'apple'}
{'kiwi', 'watermelon', 'pineapple', 'orange', 'grapes', 'cherry', 'papaya', 'banana', 'mango', 'apple'}

In [29]:
#intersection
print(group1 & group2) #common elements from both sides
print(group1.intersection(group2))

{'watermelon', 'pineapple', 'grapes', 'mango', 'apple'}
{'watermelon', 'pineapple', 'grapes', 'mango', 'apple'}

In [30]:
#difference
print(group1 - group2)
print(group2 - group1)
print(group2.difference(group1))

{'banana', 'orange'}
{'kiwi', 'papaya', 'cherry'}
{'kiwi', 'papaya', 'cherry'}

In [33]:
#symmetric difference
print(group1 ^ group2)
print(group1.symmetric_difference(group2))

{'kiwi', 'orange', 'cherry', 'papaya', 'banana'}
{'kiwi', 'orange', 'cherry', 'papaya', 'banana'}

#task
- create a list called reports that will hold report of 7 students
- each student will have a name and marks in 3 subjects
- use for loop to display the report of each student

In [39]:
report = [['sakshi', 23, 23, 34], 
          ['nob', 63, 73, 64], 
          ['Zaid', 28, 24, 46], 
          ['mihir', 23, 45, 33], 
          ['manav', 21, 24, 34], 
          ['sumitra', 32, 56, 24], 
          ['sumit', 43, 54, 45]]

for i in report:
    print(i)

['sakshi', 23, 23, 34]
['nob', 63, 73, 64]
['Zaid', 28, 24, 46]
['mihir', 23, 45, 33]
['manav', 21, 24, 34]
['sumitra', 32, 56, 24]
['sumit', 43, 54, 45]

In [47]:
reports = [
        ['Rohan', [
            ['Maths', 90],
            ['Science', 95],
            ['English', 85],
        ]]
          ]

In [48]:
for students in reports:
    for detail in students:
        if isinstance(detail, str):
            print(detail)
        if isinstance(detail, list):
            for subject in detail:
                print(subject[0], subject[1])

Rohan
Maths 90
Science 95
English 85